@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	/* PWA enhancements */
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

@layer components {
    .header-link {
        @apply flex items-center space-x-2 cursor-pointer;
    }

    .span {
        @apply relative text-lg font-medium before:bg-[#f9f9f9] before:rounded-bl before:-bottom-1.5 before:h-0.5 before:inset-x-0 before:absolute before:transform before:origin-left before:scale-x-0 before:transition-all before:duration-200 group-hover:before:scale-x-100;
    }

    .spinner-container {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 5000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .spinner {
        width: 100px;
        height: 100px;
        border: 10px solid;
        border-color: #000 transparent #555 transparent;
        border-radius: 50%;
        animation: spin 1.2s linear infinite;
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}